.container {
    /*display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;*/
}

p {
    color: red;
}

.divfigura {
    display: flex;
    justify-content: space-between;
    border: 1px black outset;
    align-items: center;
}